/* nanigation */
/* #nabar{
    flex-direction: column;
} */
/* #nabar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
} */

/* HOme */
/* #home{
    height: 375px;
    padding: 3px 68px;
} */
/* #home::before{
 height: 480px;
} */
/* #home p{
    font-size: 13px;
} */

/* services */
/* .services{
    flex-direction: column;
} */
/* cliente section */
/* #client{
 overflow: hidden;
} */
/* utility */
/* .h-primary{
    font-size: 26px;
} */
